.animation{
   display: flex;
   flex-direction: row;
    background: radial-gradient(at right 60%,rgba(206,2,189,1) 0%, rgba(75,6,193,1) 70%);
}
.animation__fab{
    position: fixed;
    top: 85%;
    left: 93%;
    
    color: transparent;
}
.fab{
    color: rgba(75,6,193,1) 70%;
    
}
.animation__info{
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%px;
    padding-left: 100px;
    align-items: flex-start;
    text-align: left;
    margin-top: 150px;
    
}
.animation__title{
    font-size: 100px;
    font-weight: 500;
    margin-bottom: -30px;
    
}
.animation__title1{
    font-size: 40px;
    font-weight: 400;
    padding-left: 5px;
}
.animation__title2{
    font-size: 22px;
    font-weight: 400;
    margin-top: 25px;
}
.animation__sendMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to bottom,#23ffdb,#1b5dbf);
}
.animation__sendMsg:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.animation__svg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    padding-right: 50px;
    margin-top: 80px;
    
}
.animation__form{
    width: 350px;
    height: 480px;
    position: fixed;
    left: 70%;
    bottom: 10px;
}
